BH
BiocManager
BiocParallel
BiocVersion
R6
RColorBrewer
RSpectra
Rcpp
RcppEigen
cli
colorspace
corpcor
cpp11
crayon
dplyr
ellipse
ellipsis
fansi
farver
formatR
futile.logger
futile.options
generics
ggplot2
ggrepel
glue
gridExtra
gtable
igraph
isoband
labeling
lambda.r
lifecycle
magrittr
matrixStats
mixOmics
munsell
pillar
pkgconfig
plyr
purrr
rARPACK
reshape2
rlang
scales
snow
stringi
stringr
tibble
tidyr
tidyselect
utf8
vctrs
viridisLite
withr
